<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Flask-mongo</h1>
    <hr>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="content">figurines content</label></b>
        </p>
        <p>
            <input type="text" name="nom"
                placeholder="nom figurines"></input>
        </p>
        <button type="submit">Submit</button>
    </form>
    <hr>
    {% for figurine in figurines %}
        <div class="todo">
            <p>{{ figurine['nom'] }}</p>
        </div>
    {% endfor %}

    </div>
</body>
</html>
